.Inicial {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../Images/React.png);
    background-position-y: 120px;
    background-position-x: center;
    background-size: 65%;
    background-repeat: no-repeat;
}

.Container-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PCR{
    height: 100px;
    width: 1200px;
    margin: 15px;
    background-color: rgba(236, 232, 232, 0.7);
    border-radius: 10px;
    border-color: transparent;
}

.TDND, .TPU,.LN, .LF, .ML, .OZ {
    height: 100px;
    width: 585px;
    margin: 15px;
    background-color: rgba(236, 232, 232, 0.7);
    border-radius: 10px;
    border-color: transparent;
}
